.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgb(8, 5, 83) 0%,
    rgb(14, 14, 104) 35%,
    rgb(15, 9, 100) 100%
  );
}

.tittle {
  color: #fff;
  font-weight: bold;
}

.tittle-p {
  font-weight: bold;
  color: yellow;
}

.button {
  font-weight: bold;
  padding: 10px 120px;
  background-color: blue;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
}
